#button{
    display:block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-decoration: none;
    border: 5px solid rgb(6,83,6);
    /* transition: all 3s; */
    /* transition: all 500ms; */
    transition: border 500ms, background 3s, border-radius 1s;
}

#button:hover{
    border-radius:15px;
    background-color: orangered;
    border:5px solid red;
}

#box{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 225px;
    animation-name: displacement-box;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes displacement-box{
    /* from{
        margin-left: 0px;
    }
    to{
        margin-left: 900px;
    } */
    0%{
        margin-left:0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 900px;
        transform: rotate(360deg);
        border-radius:999px;
    }
    75%{
        background:red;
    }
    77%{
        border: 10px dashed blue;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}